*{
    margin: 0px;
    padding: 0px;
}
html, body, #page{
    width: 100%;
    height: 100%;
    font-family: "Arial Black";
}

#headerContainer{
    position: relative;
    width: 100%;
    height: 75px;
    background-color: floralwhite;
    box-shadow: 1px 1px 5px 1px;
}
#headerLogo{
    position: relative;
    width: 10%;
    height: 100%;
    background-color: red;
}

#headerLogo img{
    position: relative;
    width: 100%;
    height: 100%;
}
#headerText{
    position: relative;
    width: 20%;
    left: 25%;
    top: -60px;
}
#sideBarContainer{
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: floralwhite;
    box-shadow: 1px 1px 5px 1px;
}
#listContainer{
    position: relative;
    text-decoration: none;
    left: 25%;
}

#listContainer ul{
    list-style: none;
}

#listContainer ul li{
    margin-top: 15%;
}
#listContainer ul li a{
    text-decoration: none;
    text-decoration-color: black;
    color: black;
}

#mainContainer{
    position: relative;
    left: 11%;
    right: 11%;
    top: 15px;
    width: 88%;
    height: 86%;
    background-color: whitesmoke;
    max-width: 88%;
    box-shadow: 0px 1px 10px 5px;
}

.imgContainer{
    position: relative;
    width: 70%;
    height: 70%;
    float: left;
    margin-left: 10%;
}
.imgContainer img{
    width: 100%;
    height: 100%;
}

#mainContentHeader{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

#commentContainer{
    position: relative;
    border: 1px solid black;
    width: 50%;
    height: 70%;
    left: 25%;
    overflow-y: scroll;
}

.commentField{
    position: relative;
    left: 10%;
    margin-top: 10px;
    width: 80%;
    height: 100px;
    border: 1px solid black;
}

.commenterNaamContainer{
    position: relative;
    width: 30%;
    height: 100%;
    font-size: 14px;
    border-right: 1px dotted black;
}

.commenterNaam{
    position: relative;
    top: 20%;
    left: 5px;
    word-break: break-word;
}

#cmntNaamTitle{
    color: black;
    opacity: 50%;
}

.settingField{
    position: relative;
    left: 10px;
    width: 30%;
    height: 50px;
    border: 1px solid black;
}

.settingSpan{
    position: relative;
    top: 25%;
}

.userComment{
    position: relative;
    left: 100%;
    top: -38%;
    width: 234%;
    height: 100px;
    background-color: lightgrey;
    color: black;
    overflow-y: scroll;
}

#nasaImageTitle{
    position: relative;
    text-align: center;
}

#nasaImageDesc{
    font-size: 13px;
    text-align: center;
}

.cusScrollbar{
    scrollbar-color: #0A4C95 #f5f5f5;
    scrollbar-width: thin;
}
.cusScrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
.cusScrollbar::-webkit-scrollbar-thumb {
    background: white;
}

#nasaImageInfo{
    position: relative;
    /*background-color: white;*/
    width: 20%;
    height: 70%;
    margin-left: 80%;
}

#nasaImageDesc{
    position: relative;
    overflow-y: scroll;
    max-height: 75%;
}